@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard Variable';
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./assets/fonts/PretendardVariable.woff2') format('woff2-variations');
  }

  body {
    font-family: 'Pretendard Variable', system-ui, serif;
    @apply flex justify-center bg-white;
  }

  h1 {
    @apply font-semibold text-xl leading-6;
  }

  #root {
    width: 100vw;
    height: 100vh;
  }

  * {
    @apply box-border select-none;
  }
}

@layer utilities {
  
}
